* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 'Noto Sans TC', 'Microsoft JhengHei', 'Arial';
  transition: .2s; }

#header {
  position: relative;
  height: 90px;
  display: flex;
  justify-content: space-between;
  z-index: 10000; }
  #header .logo {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 30px; }
    #header .logo a {
      display: flex;
      align-items: center;
      padding: 5px; }
    #header .logo img {
      width: 21px;
      height: 22px; }
    #header .logo h1 {
      font-size: 20px;
      color: #121212;
      margin-left: 30px; }
  #header .menu {
    height: 90px;
    display: flex;
    align-items: center;
    padding-right: 20px; }
    #header .menu .portfoilo_link {
      margin-right: 20px; }
      #header .menu .portfoilo_link h4 {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2.7px;
        color: #121212; }
    #header .menu .menu_icon {
      width: 18px;
      height: 18px;
      margin-right: 20px; }
      #header .menu .menu_icon img {
        width: 100%; }

@media all and (max-width: 760px) {
  #header .logo h1 {
    display: none; } }

#personal .header_landing {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: #fff; }

#personal .dana_web {
  width: 100vw;
  height: calc(100vh - 90px); }
  #personal .dana_web .web_coverage {
    width: 100vw;
    height: calc(100vh - 0px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background: -webkit-linear-gradient(#fff, #fff 80px, rgba(255, 255, 255, 0.5) 100px, rgba(255, 255, 255, 0) 120px, rgba(255, 255, 255, 0)); }

#personal .dana_phone {
  display: none; }

@media all and (max-width: 760px) {
  #personal .dana_web {
    display: none; }
  #personal .dana_phone {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center; }
    #personal .dana_phone img {
      width: 30%; } }

@font-face {
  font-family: 'codropsicons';
  font-weight: normal;
  font-style: normal; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Canvas container */
.container {
  position: fixed;
  z-index: -1;
  top: 90px;
  left: 0; }

/* Header */
.codrops-header {
  position: relative;
  z-index: 1000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: calc(100vh - 90px);
  min-height: 600px;
  padding: 2em 1em 4em;
  text-align: center;
  color: #fff;
  background: #181922 no-repeat center center;
  background-size: cover; }

.codrops-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 25, 34, 0.5); }

.header-title {
  position: relative; }

.header-title__main {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  margin: 0em 0 0.15em 0; }

.header-title__part {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 0.85em;
  font-weight: 400;
  display: block;
  padding: 0.5em 0 2em;
  text-indent: 4px;
  letter-spacing: 4px;
  text-transform: uppercase; }

.header-title__part::before,
.header-title__part::after {
  content: '\2014';
  padding: 0 0.5em; }

.header-title__sub {
  font-size: 0.55em;
  font-weight: normal;
  display: block;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5em 0 1em;
  color: #d1d2d2; }

.intro {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 2em;
  position: relative;
  z-index: 1000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 150vh;
  margin: 0 0 3em;
  padding: 3em;
  text-align: center;
  color: #fff;
  background: #181922; }

.intro blockquote {
  max-width: 800px;
  margin: 0 auto; }

.intro em {
  font-size: 1.5em; }

.intro span {
  display: block;
  padding: 1em 0;
  color: #464b4b; }

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap; }

.codrops-links::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg); }

.codrops-icon {
  display: inline-block;
  width: 1.5em;
  margin: 0.5em;
  padding: 0em 0;
  text-decoration: none; }

.codrops-icon span {
  display: none; }

.codrops-icon:before {
  font-family: 'codropsicons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  margin: 0 5px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  speak: none; }

.codrops-icon--drop:before {
  content: '\e001';
  color: #09c; }

.codrops-icon--prev:before {
  content: '\e004'; }

/* Demo links */
.codrops-demos {
  margin: 2em 0 0; }

.codrops-demos a {
  display: inline-block;
  margin: 0 0.5em; }

.codrops-demos a.current-demo {
  color: #333; }

/* Content */
.content {
  padding: 3em 0; }

/* Related demos */
.content--related {
  position: relative;
  z-index: 1000;
  padding: 10em 2em;
  text-align: center;
  color: #fff;
  background: #181922; }

.info {
  font-size: 1.65em;
  padding: 0 0 4em; }

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.media-item__img {
  max-width: 100%;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1; }

.media-item__title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em; }

/* Story */
.text {
  position: relative;
  z-index: 1000;
  padding: 5em 3em; }

.text section {
  font-size: 1.25em;
  line-height: 1.7; }

.text section h2 {
  font-size: 2.7em;
  font-weight: 400;
  margin: 0;
  text-align: left; }

.text section:not(:first-child) h2 {
  padding: 2em 0 0 0; }

.title-up {
  font-size: 0.365em;
  font-weight: bold;
  display: block;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #cecec5; }

.title-down {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 1.35em;
  font-weight: 400;
  line-height: 0.9;
  display: block;
  padding: 0.15em 0 0.35em;
  color: #5f646c; }

.text figure {
  margin: 1em 0 2em; }

.text figure img {
  max-width: 100%; }

.text figcaption {
  font-size: 0.85em;
  font-style: italic;
  padding: 1em 1.5em 0;
  text-align: center;
  color: #5f646c; }

.text section p {
  font-size: 0.95em;
  margin: 0.5em 0 1.5em; }

.text section p.text-intro {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
  margin: 0.5em 0 1.25em;
  text-align: left;
  color: #9d9c95; }

.text blockquote {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 2em;
  line-height: 1.5;
  position: relative;
  text-align: left;
  color: #939997; }

.text blockquote::before {
  content: '\201C';
  font-size: 2.5em;
  font-style: italic;
  line-height: 1;
  position: absolute;
  top: -0.15em;
  right: 100%;
  margin: 0 0.075em 0 0;
  color: #f0f3f3; }

.text blockquote span {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  white-space: nowrap;
  color: #cbcece; }

.js-section {
  width: 50%;
  max-width: 700px; }

.js-gallery {
  padding-top: 50px;
  padding-bottom: 50px; }

.js-gallery-content {
  font-size: 0;
  text-align: center; }

.js-gallery-content img {
  max-width: 100%;
  margin: 10px 0; }

@media (max-width: 720px) {
  .header-title {
    font-size: 1.5em; }
  .intro {
    font-size: 1.25em;
    height: auto;
    padding: 1em; }
  .text {
    font-size: 0.85em;
    padding: 2em;
    text-align: justify; }
  .text section h2 {
    font-size: 1.85em; }
  .text blockquote {
    font-size: 1.45em; }
  .js-section {
    width: 100%;
    max-width: none; } }

#portfolio {
  display: flex; }
  #portfolio .title_block {
    width: 430px;
    height: calc(100vh - 90px);
    padding: 305px 0 0 65px; }
    #portfolio .title_block .title h2 {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 5.1px;
      color: #121212; }
    #portfolio .title_block .content p {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
      color: #121212; }
  #portfolio .projects {
    display: flex;
    overflow-y: scroll;
    padding-left: 20px; }
    #portfolio .projects .project {
      width: 250px;
      height: 320px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(206, 206, 206, 0.5);
      border: 1px solid transparent;
      background-color: #ffffff;
      margin: 150px 20px 0 0;
      cursor: pointer; }
      #portfolio .projects .project:hover {
        border: 1px solid rgba(206, 206, 206, 0.2);
        box-shadow: none; }
      #portfolio .projects .project .prj_img {
        width: 250px;
        border-radius: 5px 5px 0 0;
        overflow: hidden; }
        #portfolio .projects .project .prj_img img {
          width: 99%; }
      #portfolio .projects .project .prj_info {
        height: 130px;
        position: relative; }
        #portfolio .projects .project .prj_info p {
          color: #121212; }
        #portfolio .projects .project .prj_info .prj_tech {
          position: absolute;
          top: 14px;
          left: 20px;
          font-size: 12px;
          letter-spacing: 2px; }
        #portfolio .projects .project .prj_info .prf_name {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 14px;
          letter-spacing: 2.4px;
          text-align: right; }

@media all and (max-width: 760px) {
  #portfolio {
    flex-direction: column; }
    #portfolio .title_block {
      width: 100%;
      height: auto;
      padding: 0;
      display: flex;
      flex-direction: column; }
      #portfolio .title_block .title, #portfolio .title_block .content {
        display: flex;
        justify-content: center; }
    #portfolio .projects {
      flex-direction: column;
      align-items: center;
      overflow-y: inherit;
      padding: 0; }
      #portfolio .projects .project {
        margin: 20px 0 10px; } }

#project {
  margin-top: -90px; }
  #project .page .fp-tableCell {
    display: flex; }
  #project .page .prj_info {
    width: 350px;
    background-color: #f4f4f4;
    padding: 0 0 0 35px; }
    #project .page .prj_info .prj_name {
      width: 90%;
      display: flex;
      justify-content: flex-end;
      margin-top: 110px; }
      #project .page .prj_info .prj_name h2 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4.1px;
        color: #0a4164; }
    #project .page .prj_info .prj_contents .prj_content {
      margin-top: 40px; }
      #project .page .prj_info .prj_contents .prj_content .content_title {
        margin-bottom: 10px; }
        #project .page .prj_info .prj_contents .prj_content .content_title p {
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 2.4px;
          color: #c5c5c5; }
      #project .page .prj_info .prj_contents .prj_content .content_detail {
        width: 80%;
        margin: 0 0px 10px 20px;
        text-align: inherit; }
        #project .page .prj_info .prj_contents .prj_content .content_detail p {
          font-size: 12px;
          letter-spacing: 2px;
          color: #868686; }
  #project .page .prj_file {
    width: calc(100vw - 350px);
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center; }
    #project .page .prj_file .prj_img {
      width: 540px;
      margin-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #project .page .prj_file .prj_img img {
        width: auto;
        max-width: 100%;
        max-height: 80vh;
        box-shadow: 0 4px 8px 0 rgba(206, 206, 206, 0.5); }
      #project .page .prj_file .prj_img .special_img {
        box-shadow: none; }

@media all and (max-width: 760px) {
  #project .page .fp-tableCell {
    flex-direction: column-reverse;
    align-items: center; }
  #project .page .prj_info {
    width: 100%;
    height: 50vh; }
    #project .page .prj_info .prj_name {
      justify-content: center;
      margin: 10px 0 0; }
    #project .page .prj_info .prj_contents {
      max-height: 35vh;
      overflow-y: scroll; }
      #project .page .prj_info .prj_contents .prj_content {
        margin-top: 10px; }
        #project .page .prj_info .prj_contents .prj_content .content_title {
          margin-bottom: 5px; }
        #project .page .prj_info .prj_contents .prj_content .content_detail {
          margin: 0 0px 5px 20px; }
  #project .page .prj_file {
    width: 90%;
    height: auto;
    margin-bottom: 30px; }
    #project .page .prj_file .prj_img img {
      max-height: 35vh; } }
