#portfolio {
  display: flex; }
  #portfolio .title_block {
    width: 430px;
    height: calc(100vh - 90px);
    padding: 305px 0 0 65px; }
    #portfolio .title_block .title h2 {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 5.1px;
      color: #121212; }
    #portfolio .title_block .content p {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
      color: #121212; }
  #portfolio .projects {
    display: flex;
    overflow-y: scroll;
    padding-left: 20px; }
    #portfolio .projects .project {
      width: 250px;
      height: 320px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(206, 206, 206, 0.5);
      border: 1px solid transparent;
      background-color: #ffffff;
      margin: 150px 20px 0 0;
      cursor: pointer; }
      #portfolio .projects .project:hover {
        border: 1px solid rgba(206, 206, 206, 0.2);
        box-shadow: none; }
      #portfolio .projects .project .prj_img {
        width: 250px;
        border-radius: 5px 5px 0 0;
        overflow: hidden; }
        #portfolio .projects .project .prj_img img {
          width: 99%; }
      #portfolio .projects .project .prj_info {
        height: 130px;
        position: relative; }
        #portfolio .projects .project .prj_info p {
          color: #121212; }
        #portfolio .projects .project .prj_info .prj_tech {
          position: absolute;
          top: 14px;
          left: 20px;
          font-size: 12px;
          letter-spacing: 2px; }
        #portfolio .projects .project .prj_info .prf_name {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 14px;
          letter-spacing: 2.4px;
          text-align: right; }

@media all and (max-width: 760px) {
  #portfolio {
    flex-direction: column; }
    #portfolio .title_block {
      width: 100%;
      height: auto;
      padding: 0;
      display: flex;
      flex-direction: column; }
      #portfolio .title_block .title, #portfolio .title_block .content {
        display: flex;
        justify-content: center; }
    #portfolio .projects {
      flex-direction: column;
      align-items: center;
      overflow-y: inherit;
      padding: 0; }
      #portfolio .projects .project {
        margin: 20px 0 10px; } }
